@font-face {
  font-family: "ITCKabelStd";
  src: url("https://33f6ca84519c8cc73577380b12af346d.cdn.bubble.io/f1769719820984x207327395263911420/ITCKabelStdUltra.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
