@font-face {
  font-family: "ITCKabelStd";
  src: url("https://33f6ca84519c8cc73577380b12af346d.cdn.bubble.io/f1769719351726x947479843272843900/ITCKabelStdBook.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
