@font-face {
  font-family: "ITCKabelStdDemi";
  src: url("https://33f6ca84519c8cc73577380b12af346d.cdn.bubble.io/f1769719649271x832927871393756400/ITCKabelStdDemi.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
