@font-face {
  font-family: "ITCKabelStdBold";
  src: url("https://33f6ca84519c8cc73577380b12af346d.cdn.bubble.io/f1769719762770x530818412195448900/ITCKabelStdBold.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
