@font-face {
  font-family: "ITCKabelStd";
  src: url("https://33f6ca84519c8cc73577380b12af346d.cdn.bubble.io/f1769719585759x932779416335922200/ITCKabelStdMedium.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
