@font-face {
  font-family: "ITCKabelStdMedium";
  src: url("https://33f6ca84519c8cc73577380b12af346d.cdn.bubble.io/f1769722061144x297773285861995900/ITCKabelStdMedium.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
